<h1>About</h1>
<h2>Interests</h2>
<p class="well">I like to write software</p>
<h2>Blog software</h2>
<p class="well">This blog is based <a href="http://github.com/liammclennan/gistblog">gistblog</a> by Liam McLennan</p>
<h2>Elsewhere</h2>
<p class="well">I occasionally post things at <a href="https://github.com/adamchester">https://github.com/adamchester</a></p>
